{% extends "::base.html.twig" %}

{% block heading_breadcrumbs %}

<div class="row-fluid breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Booking</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Booking</li>
        </ul>
    </div><!--/container-->
</div>
{% endblock %}

{% block content_part %}
<!--=== Content Part ===-->
<div class="container">		
    <div class="row-fluid">

        {% include '::column_left.html.twig' %}

        <div class="span6">
            <div class="headline">
                <h3>Book Now!</h3>
            </div>
        </div>

        {% include '::column_right.html.twig' %}

    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}
    