{% extends "::base.html.twig" %}

{% block heading_breadcrumbs %}
<div class="row-fluid breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Privacy Policy</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Privacy</li>
        </ul>
    </div><!--/container-->
</div>
{% endblock %}

{% block content_part %}
<!--=== Content Part ===-->
<div class="container">		
    <div class="row-fluid privacy">
        <div class="headline"><h3>Privacy Policy</h3></div>
        <p>Atlas is committed to preserving the privacy of all visitors to the Website. Please read the following privacy policy to understand how we use and protect the information that you provide to us.</p>
        <ol>
            <li>Should you choose to register on the Website or contact us through the Website, you will be asked to provide certain personal information. We may use your personal information to keep you informed of the different land investments that we promote and market from time to time that we think may be of interest to you and for future email mailings, support, notification of new services, and general correspondence that may relate to you. If you would rather not receive future marketing emails from us please inform us by e-mail at info@Atlashostelsplc.com.</li>
            <li>We are registered under the Data Protection Act 1998 and comply with the Act in all our dealings with your personal data. The information you provide will be kept confidential and will be used only to support your customer relationship with us. We will not disclose or sell your information outside our corporate group, except in connection with the proposed or actual sale of the whole or part of the Atlas business or where we are required to do so by law or a regulatory authority. We never rent or sell your personal information.</li>
            <li>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (“EEA”). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</li>
            <li>Atlas may also collect personal information about your use of the Website by using a cookie file that is stored on the hard drive of your computer. Cookies contain information that is transferred to your computer’s hard drive. They help us to improve the Website and to deliver a better and more personalised service.</li>
            <li>You may refuse to accept cookies by activating the setting on your browser that allows you to refuse the setting of cookies. However, if you select this setting you may be unable to access certain parts of the Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our site. For more information about cookies including how to set your internet browser to reject cookies please go to www.allaboutcookies.org</li>
            <li>Unfortunately, the transmission of information via the internet is not completely secure. Although Atlas will do its best to protect your personal data, it cannot guarantee the security of data transmitted to the Website; any transmission is at your own risk.</li>
            <li>This Website may contain links to third party websites. Atlas is not responsible for the data protection or privacy policies of those third parties.</li>
            <li>You have a right to ask us to provide a copy of the personal data we hold about you, and where you do we are entitled by law to make a small administrative charge for providing such data.</li>
            <li>Any changes to our privacy policy in the future will be posted to the Website.</li>
            <li>All comments, queries and requests relating to our use of your information are welcomed and should be addressed to Atlas Hostels Plc, 2ND FLOOR BERKLEY SQUARE HOUSE, BERKELEY SQUARE, LONDON, UNITED KINGDOM, W1J 6BD, 0800 122 3455.</li>
        </ol>
    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->
{% endblock %}    