    	<div class="span3">
            <div class="headline"><h3>Things to Do</h3></div>
            <div class="posts margin-bottom-20">
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/6.jpg" alt=""></a></dt>
                    <dd>
                        <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/10.jpg" alt=""></a></dt>
                    <dd>
                        <p><a href="#">Lorem sequat ipsum dolor lorem sunt aliqua put a bird sit amet consectetur.</a></p> 
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/assets/img/sliders/elastislide/11.jpg" alt=""></a></dt>
                    <dd>
                        <p><a href="#">It works on all major web browsers, tablets and aliqua lorem sequat ipsum.</a></p> 
                    </dd>
                </dl>
            </div>
            <div class="headline"><h3>Location</h3></div>
            <div style="border:2px solid #AB0765" id="map" class="sidebar map margin-bottom-40"></div>
            <div class="headline"><h3>Follow us</h3></div>
            <div style="float:left;">
                <a href="#"><img src="/assets/img/twitter_stamp.png" height="150" width="150"></a>
            </div>
            <div style="float:right;">
                <a href="#"><img src="/assets/img/Free-Wifi.png" height="100" width="100"></a>
            </div>
        </div>