{% block left_column %}
    	<div class="span3">
            <div class="myallocator" style="margin-top:20px;">
                <img src="https://myallocator.com/img/booknow/book_button_xl.png" onclick="bookNowApp('Ne96YOAywhUCXR1S-3kQEQ')" style="cursor:pointer" />
            </div>
            <!-- Monthly Newsletter -->
            <div class="headline"><h3>Monthly Newsletter</h3></div>	
            <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
            <form class="form-inline">
                <div class="input-append">
                    <input type="text" placeholder="Email Address" class="input-medium">
                    <button class="btn-u">Subscribe</button>
                </div>
            </form>	
            <div class="headline"><h3>Facebook</h3></div>
            <div style="background:#fff;width:270px;overflow:hidden;" class="fb-like-box" data-href="http://www.facebook.com/pages/Atlas-Hostels-Plc/168741279912015" data-width="292" data-height="400" data-show-faces="true" data-stream="false" data-show-border="false" data-header="true"></div>
        </div>
{% endblock%}